<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-xs-6">
          <label>
            Project Name:
            <input id="projectName" class="form-control" type="text" formControlName="projectName">
            <span class="help-block" *ngIf="projectForm.get('projectName').hasError('required')">Name is required!</span>
            <span class="help-block" *ngIf="projectForm.get('projectName').hasError('projectName')">Name is not allowed!</span>
            <span class="help-block" *ngIf="projectForm.get('projectName').hasError('projectNameAsync')">Async Name is not allowed!</span>
          </label>
        </div>
        
        <div class="form-group col-xs-6">
          <label>
            Mail:
            <input class="form-control" type="text" formControlName="mail">
            <span class="help-block" *ngIf="projectForm.get('mail').hasError('required')">Mail is required</span>
            <span class="help-block" *ngIf="projectForm.get('mail').hasError('email')">Mail is not in correct format</span>
          </label>
        </div>

        <div class="form-group col-xs-12">
          <label>
            Status:
          </label>
          <select class="form-control" id="status" formControlName="status">
            <option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</option>
          </select>
        </div>

        <button class="btn btn-default" type="submit">Submit form</button>
      </form>
    </div>
  </div>
</div>
